<div class="form-container">
  <h3>Добавить новый товар</h3>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Название:</label>
      <input type="text" id="name" [(ngModel)]="itemName" required>
    </div>

    <div class="form-group">
      <label for="category">Категория:</label>
      <input type="text" id="category" [(ngModel)]="itemCategory" required>
    </div>

    <div class="form-group">
      <label for="quantity">Количество:</label>
      <input type="number" id="quantity" [(ngModel)]="itemQuantity" min="1" required>
    </div>

    <div class="form-group">
      <label for="price">Цена (руб.):</label>
      <input type="number" id="price" [(ngModel)]="itemPrice" min="0" step="0.01" required>
    </div>

    <button type="submit">Добавить товар</button>
  </form>
</div>